<%- include('../includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Admin</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <div class=" container form-group col-md-5">
            <br>
            <h4>Admin Login</h4>
            <br>

            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User id">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-success btn-sm btn-block">Send</button>

            </form>


        </div>



    </main>